

body {
  display: flex;
  flex-direction: column;
}

/* HEADER */
header {
    display: flex;
    align-items: baseline;
    gap: 1em;
    width: 100%;
  }
  
header label {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

header label em {
    color: gray;
  }

/* MAP TAKES REMAINING SPACE */
#map {
  flex: 1;            
  position: relative;

  border-radius: 8px;
  overflow: hidden;
  min-height: 700px;

  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

/* SVG overlay */
#map svg {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 1;

}

#map svg circle {
    fill: steelblue;
    fill-opacity: 0.6;
    stroke: white;
    pointer-events: auto;
    --color-departures: steelblue;
    --color-arrivals: darkorange;
    --color: color-mix(
      in oklch,
      var(--color-departures) calc(100% * var(--departure-ratio)),
      var(--color-arrivals)
    );
    fill: var(--color);
  }